/node_modules

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos generados en tiempo de ejecución
pids
logs
results
build

# Directorio de distribución
/dist

# Variables de entorno
.env
